@page "/month/{year:int?}/{month:int?}"
@using TimeToGo2.WebApp.ViewModels
@inject MonthPageViewModel ViewModel

<PageTitle>Month overview</PageTitle>

<p>This component demonstrates fetching data from a service.</p>

@if (monthData == null)
{
	<h1>Month overview</h1>
	<p><em>Loading...</em></p>
}
else
{
    <h1>Month overview @monthData.Month/@monthData.Year</h1>
	
	<table class="table">
        <thead>
            <tr>
                <th>Day</th>
	            <th>Arrived</th>
                <th>Left</th>
                <th>Spent outside</th>
                <th>Delta from gate system</th>
                <th>Daily delta</th>
                <th>Working day</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dayData in monthData.Days)
            {
                <tr>
                    <td>@dayData.DayInMonth @dayData.DayOfWeek</td>
                    <td>@dayData.TimeArrived?.ToShortTimeString()</td>
                    <td>@dayData.TimeLeft?.ToShortTimeString()</td>
                    <td>@dayData.SpentOutside?.ToString(@"hh\:mm")</td>
                    <td>@dayData.DeltaFromGateSystem?.ToString(@"hh\:mm")</td>
                    <td>@dayData.DailyDelta.ToString(@"hh\:mm")</td>
                    <td>@dayData.IsWorkDay</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
	[Parameter]
	public int? Year { get; set; }

	[Parameter]
    public int? Month { get; set; }

	protected override void OnInitialized()
	{
		Year = Year ?? DateTime.Now.Year;
		Month = Month ?? DateTime.Now.Month;

		
	}
	
	private MonthDataViewModel? monthData;

    protected override async Task OnInitializedAsync()
    {
	    await ViewModel.InitializeAsync(Year.Value, Month.Value);
	    monthData = ViewModel.MonthData;
    }
}
